/* > PACE MODAL CSS: START
***********************************************************************************************************************/
	/**************************************************************************************************************/
	/*
	********
	********
	********
	*/
	/* >> NOTES: START
	***************************************************************************************************************/

	/* TOC:
	-	PACE MODAL CSS
            - NOTES
			- PACE MODAL
            - DRAG AND DROP LIST
	*/

	/* NOTES: END
	***************************************************************************************************************/
	/*
	********
	********
	********
	*/
	/* >> PACE MODAL: START
	***************************************************************************************************************/

        .pace-modal .modal-header {
            padding-top: 10px;
            padding-bottom: 5px;
        }

        .pace-modal ul {
            padding: 0 !important;
        }

        .pace-modal select,
        .pace-modal input {
            width: 100%;
        }

    /* PACE MODAL: END
    ***************************************************************************************************************/
    	/*
	********
	********
	********
	*/
	/* >> DRAG AND DROP LIST: START
	***************************************************************************************************************/

        /*
        # Styling for drag and drop columns */
        .option-list li {
            list-style-type: none !important;
            background: transparent;
            background-color: transparent;
            border: 0;
            cursor: pointer;
            margin: 0;
            padding: 0;
        }

    /* DRAG AND DROP LIST: END
    ***************************************************************************************************************/
	
/* PACE MODAL CSS: END
***********************************************************************************************************************/