/* > PACE PILLS CSS: START
***********************************************************************************************************************/
	/**************************************************************************************************************/
	/*
	********
	********
	********
	*/
	/* >> NOTES: START
	***************************************************************************************************************/

	/* TOC:
	-	PACE PILLS CSS
            - NOTES
			- PACE PILLS
	*/

	/* NOTES: END
	***************************************************************************************************************/
	/*
	********
	********
	********
	*/
	/* >> PACE PILLS: START
	***************************************************************************************************************/

        .pace-pills > .nav-pills {
            background: #f1f1f1;
            background-color: #f1f1f1;
            margin-top: 50px;
            margin-bottom: 0;
            border-bottom: 1px #dddddd solid;
            height: 45px;
            z-index: -10;
        }

        .pace-pills > .nav-pills li {
            background: transparent;
            background-color: transparent;
            border-radius: 0;
            text-align: center;
            padding-left: 15px;
            padding-right: 15px;
        }

        .pace-pills > .nav-pills > li.active > a, 
        .pace-pills > .nav-pills > li.active > a:focus, 
        .pace-pills > .nav-pills > li.active > a:hover {
            background: transparent;
            background-color: transparent;
            border-bottom: 3px #408BCA solid;
            color: #408BCA;
            font-weight: 700;
            border-radius: 0;
        }

    /* PACE PILLS: END
    ***************************************************************************************************************/
	
/* PACE PILLS CSS: END
***********************************************************************************************************************/