/* > PACE TABLE CSS: START
***********************************************************************************************************************/
	/**************************************************************************************************************/
	/*
	********
	********
	********
	*/
	/* >> NOTES: START
	***************************************************************************************************************/

	/* TOC:
	-	PACE TABLE CSS
            - NOTES
			- PACE TABLE
	*/

	/* NOTES: END
	***************************************************************************************************************/
	/*
	********
	********
	********
	*/
	/* >> PACE TABLE: START
	***************************************************************************************************************/

        .pace-table-container {
            width: 100%;
            max-width: 100%;
            overflow-x: auto;
            overflow-y: auto;
            border: 1px #dddddd solid;
        }    

        .pace-table {
            min-width: 100%;
            font-size: 1em;
            background: #ffffff;
            background-color: #ffffff;
            white-space: nowrap;
        }

        .pace-table th,
        .pace-table td {
            border: 1px #cccccc solid;
            background: transparent;
            background-color: transparent;
            padding: 5px;
            font-weight: 400;
            min-width: 25px;
        }

        .pace-table tr {
            background: transparent;
            background-color: transparent;
        }

        .pace-table .has-edit {
            background: rgba(255,184,28,.5);
            background-color: rgba(255,184,28,.5);
        }

    /* PACE TABLE: END
    ***************************************************************************************************************/
    	
/* PACE TABLE CSS: END
***********************************************************************************************************************/