/* > PACE TYPOGRAPHY CSS: START
***********************************************************************************************************************/
	/**************************************************************************************************************/
	/*
	********
	********
	********
	*/
	/* >> NOTES: START
	***************************************************************************************************************/

	/* TOC:
	-	PACE TYPOGRAPHY CSS
            - NOTES
			- PACE TEXT COLORS
            - PACE TEXT SIZES
            - TEXT HELPERS
	*/

	/* NOTES: END
	***************************************************************************************************************/
	/*
	********
	********
	********
	*/
	/* >> PACE TEXT COLORS: START
	***************************************************************************************************************/

        .pace-text-primary {
            color: #408BCA;
        }

        .pace-text-primary-darker {
            color: #04518a;
        }

        .pace-text-primary-darkest {
            color: #062953;
        }

        .pace-text-base {
            color: #222222;
        }

        .pace-text-gray {
            color: #dddddd;
        }

        .pace-text-white {
            color: #ffffff;
        }

    /* PACE TEXT COLORS: END
    ***************************************************************************************************************/
        	/*
	********
	********
	********
	*/
	/* >> PACE TEXT SIZES: START
	***************************************************************************************************************/

        .pace-text-xs {
            font-size: .7em;
        }

        .pace-text-sm {
            font-size: .9em;
        }

        .pace-text-md {
            font-size: 1em;
        }

        .pace-text-lg {
            font-size: 1.1em;
        }

        .pace-text-xl {
            font-size: 1.3em;
        }

    /* PACE TEXT SIZES: END
    ***************************************************************************************************************/
    	/*
	********
	********
	********
	*/
	/* >> TEXT HELPERS: START
	***************************************************************************************************************/

        .text-center {
            text-align: center;
        }

        .text-right {
            text-align: right;
        }

        .text-left {
            text-align: left;
        }

        .bold {
            font-weight: 700;
        }

        .italic {
            font-style: italic;
        }

        .underline {
            text-decoration: underline;
        }

        .lowercase {
            text-transform: lowercase;
        }

        .uppercase {
            text-transform: uppercase;
        }

        .capitalize {
            text-transform: capitalize;
        }

    /* TEXT HELPERS: END
    ***************************************************************************************************************/
	
/* PACE TYPOGRAPHY CSS: END
***********************************************************************************************************************/